:root {
    --font-title: 'Palatino';
    --font-main: 'Manrope';

    --fs-h1: 55px;
    --fs-h2: 45px;
    --fs-h3: 40px;
    --fs-1: 14px;
    --fs-2: 16px;
    --fs-3: 18px;
    --fs-4: 30px;

    --color-bg: #F4F4F4;
    --color-text: #171717;
    --color-light: #C8DFFE;
    --color-grey: #EBEBEB;
    --color-1: #9D8EF3;
    --color-2: #63D69D;
    --color-3: #1D3748;
    --color-4: #99FFA7;
    --color-5: #FFA662;
    --color-6: #8BF199;

    --hover-1: ##7968D8;

    --br-1: 5px;
    --br-2: 7px;
    --br-3: 15px;
    --br-4: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-main);
    font-size: var(--fs-1);
    background: var(--color-bg);
    color: var(--color-text);
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--font-title);
}

h1 {    
    font-size: var(--fs-h1);
}
h2 {
    font-size: var(--fs-h2);
}
h3 {
    font-size: var(--fs-h3);
}

img {
    display: block;
}

ul, ol {
    list-style: none;
}

a {
    color: var(--color-text);
    text-decoration: none;
}
button, input,select {
    font-family: var(--font-main);
    font-size: var(--fs-1);
}

.container {
    max-width: 1500px;
    padding: 0 30px;
    margin: 0 auto;
}

.bg-cloud {
    background: url(../img/pop-image-5.png) no-repeat ;
}

.bg-white {
    background: #fff;
}

.bg-1 {
    background: var(--color-1);
    color: #ffffff;
}

.bg-2 {
    background: var(--color-2);
}

.bg-3 {
    background: var(--color-3);
    color: #ffffff;
}

.bg-4 {
    background: var(--color-4);
}

.bg-5 {
    background: var(--color-5);
}
.bg-6 {
    background: linear-gradient(260.58deg, #D9EAFF 28.73%, #C8E1FF 97.05%);
}


.btn {
    background: var(--color-1);
    color: #ffffff;
    border: 0;
    cursor: pointer;
}

.active {
    background: var(--color-5);
}

/* Top panel */
.topPanel {
    background: #fff;
    border-radius: var(--br-3);
    padding: 15px 20px;
}
.topPanel,
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation {
    margin: 0 auto;
}
.menu  {
    gap: 25px;
}
.dropmenu {
    display: none;
}
.burgerMenu {
    color: #fff;
    background: var(--color-1);
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    padding: 10px 16px;
    border-radius: var(--br-2);
}
.burderIcon {
    display: grid;
    grid-template-columns: repeat(2, 5px);
    grid-gap: 2px;

}
.burderIcon span {
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 1px;
    background: #fff;
}

.topPanel  .phone {
    font-size: var(--fs-3);
    font-weight: 600;
}
.topPanel .info {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 0 30px 0 21px;
}
.mainBanner {
    background: var(--color-light);
    border-radius: var(--br-3);
    margin-top: 35px;
    padding: 70px 65px;
    position: relative;
}
.mainBanner .image {
    position: absolute;
    bottom: -4px;
    right: 0;
    z-index: 0;
}
.mainBannerContent {
    position: relative;
    z-index: 1;
}
.mainBanner .mainTitle {
    color: #141414;
    text-transform: uppercase;
}
.mainBannerContent .desc {
    max-width: 535px;
    margin: 30px 0;
}
.formSearchTour {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0;
    gap: 20px;
}
.formSearchTour .wrap {
    background: var(--color-6);
    border-radius: var(--br-4);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
}
.checkboxLabel {
    cursor: pointer;
}

.checkboxLabel input {
    display: none;
}
.checkboxLabel span {
    padding: 3px 20px;
    display: inline-flex;
    border-radius: 500px;

}
.checkboxLabel input:checked ~ span {
    background: var(--color-5);
}
.formSearchTour .wrap .input,
.formSearchTour .wrap .select {
    width: 100%;
    height: 50px;
    border: 0;
    border-radius: 6px;
    padding: 14px 18px;
}
.searchBtnTour {
    display: flex;
    align-items: center;
    gap: 25px;
    width: 100%;
    padding: 10px;
    justify-content: center;
    border-radius: 6px;
    font-weight: 600;
}
.searchBtnTour .icon {
    font-weight: 600;
    background: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapCheckbox {
    display: flex;
    align-items: center;
    gap: 15px;
}
.section {
    padding-top: 100px;
}
.sectionTitle {
    margin-bottom: 25px;
}
.sectionDesc {
    margin-bottom: 35px;
    max-width: 680px;
}
.popularBlock_wrap {
    display: flex;
    gap: 20px;
}
.popularBlock_wrap.big .popularBlockCol {
    width: 100%;
    height: 100%;
}
.popularBlock_wrap.small {
    margin-top: 20px;
}
.popularBlock_wrap.big .popularBlockCol:not(:last-child) {
    max-width: 345px;
    min-height: 430px;
}
.popularBlock_wrap.big .popularBlockCol:not(:last-child) .popularBlockItem {
    min-height: 430px;
}
.popularBlock_wrap.big .popularBlockCol:last-child {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.popularBlock_wrap.big .popularBlockCol:last-child .popularBlockItem {
    min-height: 205px;
}
.popularBlock_wrap.small .popularBlockItem {
    width: 100%;
    min-height: 205px;
}
.popularBlockItem {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: var(--br-3);
    position: relative;
}
.popularBlockItem_image {
    position: absolute;
}
.popularBlockItem_icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.popularBlockItem_image {
    position: absolute;
    right: 0;
    bottom: 0;
}
.popularBlockItem_price {
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.popularBlockItem_title { 
    position: absolute;
    top: 20px;
    left: 20px;
}
.popularBlockItemMore_title  {
    font-family: var(--font-title);
    font-size: 34px;
    text-transform: uppercase;
    position: absolute;
    top: 20px;
    left: 20px;
}
.popularBlockItem.bg-white .popularBlockItem_icon {
    background: var(--color-1);
}
.popularBlockItem.bg-white .popularBlockItem_icon img {
    filter: invert(1);
}
.swiper-horizontal>.swiper-scrollbar, .swiper-scrollbar.swiper-scrollbar-horizontal {
    background: #fff;
}
.swiper-scrollbar-drag {
    background: var(--color-6)
}
.catalog {
    position: relative;
}
.catalogCard {
    padding: 20px;
    padding-top: 250px;
    position: relative;
    background: #fff;
    border-radius: var(--br-3);
    overflow: hidden;
    font-weight: 500;
}
.catalogCard .title {
    margin: 20px 0;
}
.catalogCard .image {
    position: absolute;
    top: 0;
    left: 0;
}
.catalogCard  .more {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    border-radius: var(--br-2);
    padding: 11px 0;
    margin-top: 30px;
}
.catalogCard  .more  .icon {
    background: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 10px;
}
.catalog .swiper {
    padding-bottom: 40px;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after,
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    display: none;
}
.swiper-button-prev,
.swiper-button-next {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
}

.swiper-button-prev {
    transform: rotate(180deg);
    left: -20px
}
.swiper-button-next  {
    right: -20px;
}
section.hit {
    padding-bottom: 100px;
}